.quote {
  position: relative;
  background-color: #F4F9E2;
  display: flex;
  padding: 0 0 77px 0;
}

.quote__pic {
  width: 470px;
}

@media screen and (max-width: 992px) {
  .quote__pic {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 690px) {
  .quote__pic {
    display: none;
  }
}
.quote__block-pic {
  display: flex;
  z-index: 1;
}

.quote__content {
  display: flex;
}

.quote__block-content {
  display: flex;
}