* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "larsseit_regular";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.body {
  position: relative;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 95%;
  padding: 0 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 675px;
  }
}
@media screen and (max-width: 690px) {
  .container {
    max-width: none;
  }
}
.maincontent {
  height: 100%;
}