.category {
  position: relative;
  padding: 0 0 77px 0;
}

.category__list {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 992px) {
  .category__list {
    flex-direction: column;
  }
}
.category__item {
  margin: 29px;
}

.category-item-title {
  color: #22356F;
  font-size: 28px;
  line-height: 33px;
  padding: 0 0 25px 0;
}

.category-item-text {
  font-size: 14px;
  line-height: 25px;
  color: rgba(34, 53, 111, 0.5);
}