.column__block-sub {
    font-size: 16px;
    line-height: 12px;
}

.column__block-subtitle {
    font-size: 28px;
    line-height: 53px;
}

.column__block-title {
    font-size: 48px;
    line-height: 94px;
}

.column__block-text {
    font-size: 16px;
    line-height: 23px;
    color: #62D0DF;
}