.block__pic-bg {
  width: 807px;
  height: 544px;
  border-radius: 35%;
  background: #EDFDFF;
  background-repeat: no-repeat;
  left: 45%;
  bottom: 0;
  top: 0%;

  transform: rotate(-50deg);
  position: absolute;
}

.block__img {
  position: absolute;
  width: 807px;
  height: 544px;
  border-radius: 35%;
  z-index: 1;
  left: 55%;
  bottom: 0;
  top: 15%;

  transform: rotate(-25deg);
}

.block__button {
  padding: 10px 30px 10px 30px;
  background: #F9B640;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 23px;
  border: none;
  margin-right: 38px;

  &:first-child {
    &:hover {
      background: none;
      color: #F9B640;
      transition: 0.5s;
    }
  }

  &:last-child {
    background: none;
    margin-right: 0px;
    color: #F9B640;
    transition: 0.5s;
  }
}